body {
    font-family: 'Lexend', sans-serif;
    background-image: url(../assets/grey-back.png);
    background-size: cover;
    background-attachment: fixed; /* Это добавлено для фиксированного фона */
    background-repeat: no-repeat;
}

.container {
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 30px;
    font-size: 20px;
    margin-bottom: 30px;
}